.vscode/**
.vscode-test/**
.tmp-vsix-check/**
src/**
out/**
node_modules/**
!node_modules/node-pty/**
!node_modules/node-pty/build/Release/*.node
!node_modules/node-pty/build/Release/*.dll
!node_modules/@xterm/**
!node_modules/@xterm/xterm/**
!node_modules/@xterm/xterm/css/**
!node_modules/@xterm/xterm/css/xterm.css
!node_modules/@xterm/xterm/lib/**
!node_modules/@xterm/xterm/lib/xterm.js
!node_modules/@xterm/addon-fit/**
!node_modules/@xterm/addon-fit/lib/**
!node_modules/@xterm/addon-fit/lib/addon-fit.js
!node_modules/ws/**
!node_modules/ws/lib/**
**/*.ts
!**/*.d.ts
**/*.map
**/tsconfig.json
**/.eslintrc.json
**/webpack.config.js
**/*.md
!README.md
**/test/**
**/tests/**
**/.git/**
.gitignore
.yarnrc
vsc-extension-quickstart.md